.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    max-width: 1414px;
}

@media only screen and (max-width: 1057px) {
    .board {
        justify-content: center;
    }
}